<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Video Player</title>
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link rel="stylesheet" href="/static/main.css">
</head>
<body>
  <section class="container">
    <div class="row logo">
      <img src="/static/Media-Player-Classic-1.png" alt="">
      <h4  align="center">Video Player</h4>
    </div>
    <div class="row">
      <form action="/v/">
        <div class="col-md-9">
          <div class="form-group">
            <input type="url" name="url" required
            placeholder="http:// " class="form-control">
          </div>
          </div> <div class="col-md-3">
          <div class="form-group">
            <button class="btn btn-block btn-lg btn-info">Ver</button>
          </div>
        </div>
      </form>
    </div>
  </section>
</body>
</html>
